.cards-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    border: 1px solid grey;
    padding: 2rem 10rem 10rem 10rem;
}